body { background-color:#f5deb3 ;}

/* Estilos para el encabezado */
header {
  background-color: #d2b48c;
  padding: 20px;
}

h1 {
  color: #fff8dc ;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

/* Estilos para la sección de información personal */
#informacion-personal {
  display: flex;
  align-items: center;
  padding: 40px;
}

.foto img {
  width: 200px;
  height: 200 px;
  border-radius: 30%;
}

.datos-personales {
  margin-left: 40px;
}

h2 {
  color: #333 ;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color:  #333;
  font-family: 'Arial', sans-serif;
}

strong {
  font-weight: bold;
}

/* Estilos para la sección de experiencia laboral */
#experiencia-laboral {
  padding: 40px;
  background-color:  #d2b48c;
}

h3 {
  color: #333 ;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  color: #fff8dc;
  font-family: 'Arial', sans-serif;
  margin-bottom: 10px;
}

/* Estilos para la sección de educación */
#educacion {
  padding: 40px;
}

/* Estilos para la imagen */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: 5px solid #fff;
}

/* Estilos para el pie de página */
footer {
  background-color:#d2b48c;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}
